name: Keep Alive

on:
  schedule:
    - cron: '*/5 * * * *'  # Run every 5 minutes
  workflow_dispatch:      # Allow manual run

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Service
        run: |
          curl -I https://pogoda34-bot.onrender.com/
          echo "Pinged pogoda34-bot.onrender.com"
